
services:
  mongodb:
    image: mongo:8.2
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./database:/data/db

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "2000:2000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017
      # - NODE_ENV=development
    depends_on:
      - mongodb


  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "1000:1000"
    environment:
      - VITE_API_URL=http://localhost:2000 
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host